/* src/App.css */

/* global index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply Montserrat as the default font for the entire app */
body {
  font-family: 'Montserrat', sans-serif;
}

/* Apply a background color to the entire app */
.App {
  background-color: #f7f7f7;
}

html {
  scroll-behavior: smooth;
}

.section {
  width: 100%;
  min-height: 100vh; /* Full viewport height for each section */
  padding: 20px;
  box-sizing: border-box;
}


